{erl_opts, [debug_info]}.

{deps, [
    {opentelemetry, "~> 1.5"},
    {opentelemetry_semantic_conventions, "~> 1.27"}
]}.

{project_plugins, [
    covertool,
    erlfmt,
    rebar3_hex,
    rebar3_ex_doc
]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
    {source_url, <<"https://github.com/danschultzer/opentelemetry-resource-detector-aws">>},
    {extras, [<<"README.md">>, <<"CHANGELOG.md">>]},
    {main, <<"README.md">>}
]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_export_enabled, true}.
{covertool, [{coverdata_files, ["ct.coverdata"]}]}.

{profiles, [
    {test, [
        {erl_opts, [nowarn_export_all]},
        {deps, [{meck, ">= 0.0.0"}]}
    ]}
]}.
